<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<style>
		body{background: skyblue;}
	</style>
</head>
	<body>
		<form action="./candlestickGraphUpdated" method="GET">
			<label>Stock Ticker to View: </label>
			<input type="text" name = "CurrentStock" id="CurrentStock">
			<input type="submit">
		</form>
        <div id="chartContainer" style="height: 300px; width: 100%;">
		<script type="text/javascript">
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			data = urlParams.get('dataPoints');
			var chart = new CanvasJS.Chart("chartContainer",
    {
        title:{
            text: "Basic Candle Stick Chart"
        },
        zoomEnabled: true,
        axisY: {    
            includeZero:false,
            title: "Prices",
            prefix: "$ "
        },
        axisX: {
            interval:2,
            intervalType: "month",
            valueFormatString: "MMM-YY",
            labelAngle: -45
        },
        data: [
        {
            type: "candlestick",
            dataPoints: <%=' obj$' %>

        }
        ]
    });
            chart.render();
		</script>



</div>
</body>
</html>