<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
	<style>
		body{background: skyblue;}
	</style>
</head>
	<body>
		<form action="./candlestickGraphUpdated" method="POST">
			<label>Stock Ticker to View: </label>
			<input type="text" name = "CurrentStock" id="CurrentStock">
			<button type = "submit">Submit</button>
		</form>
		


<div id="chartContainer" style="height: 300px; width: 100%;">
</div>
</body>
</html>