<!DOCTYPE HTML>
<html>
<head>This  is the homepage</head>
<body>
	<form action="./candlestickGraph.html" method="get">
		<label for="ticker">Ticker:</label>
		<input type="text" id ="ticker" name = "ticker">
		<label>Resolution: (1,5,15,30,60,D,W,M)</label>
		<input type="text" name="Resolution">
		<label>StartingDate(D/M/Y)</label>
		<input type="text" name="startDate">
		<label>EndingDate</label>
		<input type="text" name="endDate">
		<a href="http:">
		<input type="submit" name="Submit">
	</form>
</body>